<a href="https://colab.research.google.com/github/salimHarthi/Segmenting-and-Clustering-Neighborhoods-in-Toronto/blob/main/convert_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [58]:
# download url data from internet
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text
Canada_data = BeautifulSoup(source, 'lxml')

# creat a new Dataframe
column_names = ['Postal Code','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)
content = Canada_data.find('div', class_='mw-parser-output')
table = content.table.tbody

for tr in table.find_all('tr'):
  for p in tr.find_all('p'):
    postcode = p.find_all('b')[0].text
    span = p.find_all('span')[0].text
    borough = span.split('(')[0]
    if len(span.split('('))>1:
      #neighborhood = span.split('(')[1].replace(')','').split('/')
      neighborhood = span.split('(')[1].replace(')','').replace('/',',')
    else:
      neighborhood = np.nan
    toronto = toronto.append({'Postal Code': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

toronto.dropna(inplace=True)
toronto.reset_index()
print(toronto.shape)
toronto.head(15)

(103, 3)

   Postal Code  ...                                       Neighborhood
2          M3A  ...                                          Parkwoods
3          M4A  ...                                   Victoria Village
4          M5A  ...                         Regent Park , Harbourfront
5          M6A  ...                  Lawrence Manor , Lawrence Heights
6          M7A  ...                      Ontario Provincial Government
8          M9A  ...                                   Islington Avenue
9          M1B  ...                                    Malvern , Rouge
11         M3B  ...                                     Don MillsNorth
12         M4B  ...                   Parkview Hill , Woodbine Gardens
13         M5B  ...                           Garden District, Ryerson
14         M6B  ...                                          Glencairn
17         M9B  ...  West Deane Park , Princess Gardens , Martin Gr...
18         M1C  ...           Rouge Hill , Port Union , Highland Creek
20         M3C  ...                                     Don MillsSouth
21         M4C  ...                                   Woodbine Heights

[15 rows x 3 columns]

In [63]:
toronto_geocsv = 'https://cocl.us/Geospatial_data'
!wget -q -O 'toronto_m.geospatial_data.csv' toronto_geocsv
geocsv_data = pd.read_csv(toronto_geocsv).set_index("Postal Code")
geocsv_data.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

In [65]:
df = pd.merge(geocsv_data, toronto, on='Postal Code')
df = df[['Postal Code', 'Borough', 'Neighborhood', 'Latitude', 'Longitude']]
df.head(15)

   Postal Code      Borough  ...   Latitude  Longitude
0          M1B  Scarborough  ...  43.806686 -79.194353
1          M1C  Scarborough  ...  43.784535 -79.160497
2          M1E  Scarborough  ...  43.763573 -79.188711
3          M1G  Scarborough  ...  43.770992 -79.216917
4          M1H  Scarborough  ...  43.773136 -79.239476
5          M1J  Scarborough  ...  43.744734 -79.239476
6          M1K  Scarborough  ...  43.727929 -79.262029
7          M1L  Scarborough  ...  43.711112 -79.284577
8          M1M  Scarborough  ...  43.716316 -79.239476
9          M1N  Scarborough  ...  43.692657 -79.264848
10         M1P  Scarborough  ...  43.757410 -79.273304
11         M1R  Scarborough  ...  43.750072 -79.295849
12         M1S  Scarborough  ...  43.794200 -79.262029
13         M1T  Scarborough  ...  43.781638 -79.304302
14         M1V  Scarborough  ...  43.815252 -79.284577

[15 rows x 5 columns]

In [66]:
df.to_csv('Toronto.data.csv',index=False)

In [67]:
print("df shape",df.shape)

df shape (103, 5)